footer{
    width: 100%;
    height: auto;
    background-color: #d3d3d3;
    overflow: hidden;
    >div.footerDsktop{
        width: 100%;
        max-width: 1920px;
        height: 200px;
        margin: 0 auto;
        padding-left: 143px;
        padding-right: 125px;
        padding-top: 54px;
        position: relative;
        background-color: #d3d3d3;
        @include SCREEN_1366{
            padding-left: 90px;
            padding-right: 80px;
        }
        @include SCREEN_900{
            padding-left: 50px;
            padding-right: 40px;
        }
        .textArea{
            float: left;
            >h1{
                display: inline-block;
                font-size: 20px;
                color: #323232;
                overflow: hidden;
                @include SCREEN_900{
                    font-size: 16px;
                }
                >span{
                    display: inline-block;
                    width: 180px;
                    height: 21px;
                    background-image: url("~99_footer_logo.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-top: 5px;
                    margin-right: 10px;
                    @include SCREEN_900{
                        width: 165px;
                        height: 19px;
                        margin-right: 5px;
                    }
                }
            }
            >h2{
                display: inline-block;
                font-size: 20px;
                vertical-align: super;
                @include SCREEN_900 {
                    font-size: 16px;
                }
            }
            >a{
                font-family: 'MyriadPro-Light';
                display: block;
                font-weight: bold;
                font-size: 20px;
                color: #323232;
                margin-top: 5px;
                @include SCREEN_900 {
                    font-size: 16px;
                    margin-top: 10px;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
            >p{
                display: block;
                size: 12px;
                margin-top: 12px;
                @include SCREEN_900 {
                    transform-origin: 0 0;
                    transform: scale(0.9);
                }
            }
        }
        .iconArea{
            float: right;
            margin-top: 20px;
            @include SCREEN_900{
                margin-top: 25px;
            }
            ul{
                overflow: hidden;
                li{
                    float: left;
                    margin-left: 8px;
                    &:first-child a{
                        background-image: url("~99_footer_fbIcon.png");
                    }
                    &:last-child a{
                        background-image: url("~99_footer_emailIcon.png");
                    }
                    &:hover a{
                        background-position: 0 100%;
                    }
                    a{
                        width: 55px;
                        height: 55px;
                        background-position: 0 0;
                        background-size: cover;
                        display: block;
                        @include SCREEN_900{
                            width: 45px;
                            height: 45px;
                        }
                    }
                }
            }
        }
        
    }
    >div.footerMobile{
        width: 100%;
        height: 135px;
        background-color: #191919;
        >h2{
            font-size: 17px;
            // font-family: Arial;
            letter-spacing: 0.04em;
            color: #fff;
            line-height: 34px;
            text-align: center;
            padding-top: 38px;
            @include SCREEN_375{
                line-height: 30px;
                font-size: 15px;
                padding-top: 40px;
            }
        }
        >p{
            font-size: 14px;
            // font-family: Arial;
            letter-spacing: 0.05em;
            color: #fff;
            line-height: 28px;
            text-align: center;
            @include SCREEN_375{
                font-size: 12px;
                line-height: 24px;
                letter-spacing: 0.07em;
            }
        }
    }
}