//min
@mixin SCREEN_1600n{
	@media screen and (min-width: 1600px) {
		@content;	
	}
}

@mixin SCREEN_1600{
	@media screen and (max-width: 1600px) {
		@content;	
	}
}
@mixin SCREEN_1366{
	@media screen and (max-width: 1366px) {
		@content;	
	}
}
@mixin SCREEN_1280{
	@media screen and (max-width: 1280px) {
		@content;	
	}
}

//ipad
@mixin SCREEN_1024{
	@media screen and (max-width: 1024px) {
		@content;	
	}
}
@mixin SCREEN_900{
	@media screen and (max-width: 900px) {
		@content;	
	}
}
//mobile
@mixin SCREEN_736{
	@media screen and (max-width: 736px) {
		@content;	
	}
}
//iphone plus
@mixin SCREEN_414{
	@media screen and (max-width: 414px) {
		@content;	
	}
}
//iphone
@mixin SCREEN_375{
	@media screen and (max-width: 375px) {
		@content;	
	}
}
//iphone5
@mixin SCREEN_325{
	@media screen and (max-width: 325px) {
		@content;	
	}
}

//Back Btn
@mixin BackBtn{
	width: 140px;
	text-align: right;
	float: right;
	margin-right: 90px;
	margin-top: 90px;
	@include SCREEN_1600{
		width: 130px;
		margin-right: 80px;
		margin-top: 80px;
	}
	@include SCREEN_1366{
		width: 120px;
	}
	@include SCREEN_900{
		width: 110px;
		margin-right: 60px;
		margin-top: 60px;
	}
	&:hover>a{
		transform: translateX(-10px);
	}
	>a{
		font-size: 26px;
		color: #303030;
		letter-spacing: 0.2em;
		transition: transform 0.3s;
		display: block;
		@include SCREEN_1600{
			font-size: 24px;
		}
		@include SCREEN_1366{
			font-size: 22px;
		}
		@include SCREEN_900{
			font-size: 20px;
		}
	}
	>span{
		display: block;
		width: 140px;
		height: 1px;
		background-color: #000;
		margin-top: 10px;
		position: relative;
		@include SCREEN_1600{
			width: 130px;
		}
		@include SCREEN_1366{
			width: 120px;
		}
		@include SCREEN_900{
			width: 110px;
		}
		&::after{
			content: "";
			width: 1px;
			height: 20px;
			background-color: #000;
			display: block;
			position: absolute;
			bottom: -2px;
			left: 7px;
			transform: rotate(45deg);
		}
	}
}


//直接置入背景圖
@mixin pic($name){
  background: url("../images/#{$name}"); 
  width: image-width("../images/#{$name}");
  height: image-height("../images/#{$name}");
}
//直接隱藏文字(新版)
@mixin text-hide { 
  white-space: nowrap; 
  text-indent: 100%;
  overflow: hidden;
}
//----------------page----------------
//page用寬最小及平板
$genericWidth: 1280px;
$genericWidth_m: 1024px;
//box-sizing恢復成原來狀態
@mixin boxSizingOriginal{
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
//page 每take內容頁面需要用CSS
@mixin takeConteneNum{
	width: 100%;
	height: auto;
	background-color: #f9f9f9;
	position: relative;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
//page_常用文字
@mixin take_h2($takeSize,$takeColor){
	font-size: $takeSize;
	color: $takeColor;
}
@mixin take_p($takeSize,$takeColor,$lineH){
	font-size: $takeSize;
	color: $takeColor;
	line-height: $lineH;
	letter-spacing: 0.14em;
}
//page常用文字已組合版
@mixin take_h2Size{
	@include take_h2(22px,#fff);
	padding-bottom: 10px;
	@include SCREEN_1024{
		@include take_h2(18px,#fff);
	}
}
@mixin take_pSize{
	@include take_p(16px,#fff,30px);
	@include SCREEN_1024{
		@include take_p(14px,#fff,26px);
	}
}