@charset "utf-8";
*, *:before, *:after{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body, html{
	position: relative;
	width: 100%;
	height: 100%;
	font-family:"Microsoft JhengHei", "PMingLiU", "Arial Unicode MS", sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: none;
}
[v-cloak] {
	display: none;
}

.firstDom{
    width: 100%;
    height: auto;
    overflow: hidden;
    //background-color: blueviolet;
    @include SCREEN_736{
        padding-top: 50px;
	}
}

//loading bg style
._loading{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($color: #ededed, $alpha: 0.75);
	z-index: 20;
	text-align: center;
}
//loading animated
.lds-ring {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
	margin-top: 200px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid rgb(68, 68, 68);
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #444 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

// @font-face {
//   font-family: 'MyriadPro-LightSemiExt';
//   src: url('/assets/MyriadPro-LightSemiExt.ttf') format("truetype");
// }
@font-face {
  font-family: 'MyriadPro-Light';
  src: url('~MyriadPro-Light.ttf') format("truetype");
}
@font-face {
  font-family: 'MyriadPro-Bold';
	src: url('~MyriadPro-Bold_2.ttf') format("truetype");
	// src: url('/assets/MYRIADPRO-BOLD.ttf') format("truetype");
}