@charset "utf-8";
*, *:before, *:after{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body, html{
	position: relative;
	width: 100%;
	height: 100%;
	font-family:"Microsoft JhengHei", "PMingLiU", "Arial Unicode MS", sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: none;
}
[v-cloak] {
	display: none;
}

.firstDom{
    width: 100%;
    height: auto;
    overflow: hidden;
    //background-color: blueviolet;
    @include SCREEN_736{
        padding-top: 50px;
	}
}