@charset "utf-8";
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body, html{
	font-family:"Microsoft JhengHei", "PMingLiU", "Arial Unicode MS", sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
}
[v-cloak] {
	display: none;
}