@import "../scss/common/_pagesTopCoverArea.scss";
//--- Design main screen ---
.pagesTopCover{
    @include pagesTopCover;
    >div{
        height: 660px;
        @include SCREEN_1366{
            height: 630px;
        }
        @include SCREEN_1024{
            height: 600px;
        }
        @include SCREEN_900{
            height: 570px;
        }
        >h2{
            top: 170px;
        }
        >p{
            top: 330px;
        }
        .classificationMenu{
            position: absolute;
            top: 220px;
            right: 100px;
            z-index: 1;
            @include SCREEN_1366{
                top: 210px;
            }
            @include SCREEN_900{
                top: 190px;
            }
            >ul{
                >li{
                    text-align: right;
                    >a{
                        font-family: 'MyriadPro-Bold';
                        //font-weight: bold;
                        font-size: 22px;
                        color: #dedede;
                        line-height: 40px;
                        @include SCREEN_1366{
                            font-size: 20px;
                            line-height: 38px;
                        }
                        @include SCREEN_900{
                            font-size: 16px;
                            line-height: 34px;
                        }
                        &.active{
                            text-decoration: underline;
                            pointer-events: none;
                        }
                        &:hover{
                            color: #aaaaaa;
                        }
                    }
                }
            }
        }
        .artWorkBg{
            width: 656px;
            height: 660px;
            background-image: url("~Design/00_artWorkBg.png");
            background-size: cover;
            background-position: 0% 0%;
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            top: 0;
        }
    }   
}

.discoveryDesignArea{
    width: 100%;
    padding-top: 80px;
    background-color: #ededed;
    position: relative;
    //overflow: hidden;
    .discoveryDesignContainer{
        width: 100%;
        max-width: 1520px;
        height: 970px;
        margin: 0 auto;
        //background-color: pink;
        >h3{
            font-size: 26px;
            color: #010101;
            display: block;
            &::after{
                content: "";
                display: block;
                width: 50px;
                height: 1px;
                background-color: #010101;
                margin-top: 35px;
            }
            >span{font-weight: bold;}
        }
        .discoveryDesignContentGroup{
            .discoveryDesignContent{
                position: relative;
                >h1{
                    font-size: 30px;
                    color: #000;
                    margin-top: 90px;
                    font-weight: bold;
                }
                >p{
                    font-size: 20px;
                    color: #000;
                    line-height: 32px;
                    margin-top: 110px;
                }
                .pic{
                    position: absolute;
                    top: -305px;
                    right: 172px;
                }
            }
        }
        .nextBtn,.prevBtn{
            width: 90px;
            height: 90px;
            //background-color: pink;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover >span{
                transform: translateX(-20%);
            }
            >span{
                display: block;
                width: 90px;
                height: 1px;
                background-color: #212121;
                transition: transform 0.3s;
                &::after{
                    content: "";
                    width: 30%;
                    max-width: 50px;
                    height: 1px;
                    background-color: #2a2a2a;
                    display: block;
                    transform-origin: 0% 50%;
                    transform: rotate(-45deg);
                }
            }
        }
        .nextBtn{
            transform: scale(-1, 1);
            position: absolute;
            top: 863px;
            right: 170px;
        }
        .prevBtn{
            position: absolute;
            top: 863px;
            left: 196px;
        }
    }
}