@import "../scss/common/_pagesTopCoverArea.scss";
//--- Design main screen ---
.pagesTopCover{
    @include pagesTopCover;
    >div{
        height: 660px;
        @include SCREEN_1366{
            height: 630px;
        }
        @include SCREEN_1024{
            height: 600px;
        }
        @include SCREEN_900{
            height: 570px;
        }
        >h2{
            top: 170px;
        }
        >p{
            top: 330px;
        }
        .classificationMenu{
            position: absolute;
            top: 220px;
            right: 100px;
            z-index: 1;
            @include SCREEN_1366{
                top: 210px;
            }
            @include SCREEN_900{
                top: 190px;
            }
            >ul{
                >li{
                    text-align: right;
                    >a{
                        font-family: 'MyriadPro-Bold';
                        //font-weight: bold;
                        font-size: 22px;
                        color: #dedede;
                        line-height: 40px;
                        @include SCREEN_1366{
                            font-size: 20px;
                            line-height: 38px;
                        }
                        @include SCREEN_900{
                            font-size: 16px;
                            line-height: 34px;
                        }
                        &.active{
                            text-decoration: underline;
                            pointer-events: none;
                        }
                        &:hover{
                            color: #aaaaaa;
                        }
                    }
                }
            }
        }
        .artWorkBg{
            width: 656px;
            height: 660px;
            background-image: url("~Design/00_artWorkBg.png");
            background-size: cover;
            background-position: 0% 0%;
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            top: 0;
            @include SCREEN_1366{
                width: 626px;
                height: 630px;
            }
            @include SCREEN_1024{
                width: 596px;
                height: 600px;
            }
            @include SCREEN_900{
                width: 566px;
                height: 570px;
            }
        }
    }   
}

//discovery design
.discoveryDesignArea{
    width: 100%;
    padding-top: 80px;
    background-color: #ededed;
    position: relative;
    //overflow: hidden;
    @include SCREEN_1366{
        padding-top: 50px;
    }
    .discoveryDesignContainer{
        width: 100%;
        max-width: 1600px;
        height: 970px;
        margin: 0 auto;
        //background-color: pink;
        @include SCREEN_1600{
            max-width: 1366px;
            height: 900px;
        }
        @include SCREEN_1366{
            max-width: 1124px;
            height: 740px;
            position: relative;
        }
        @media screen and (max-width: 1124px) {
            max-width: 900px;
            height: 670px;
        }
        >h3{
            font-size: 26px;
            color: #010101;
            display: block;
            &::after{
                content: "";
                display: block;
                width: 50px;
                height: 1px;
                background-color: #010101;
                margin-top: 35px;
                @include SCREEN_1280{margin-top: 25px;}
                @include SCREEN_736{
                    margin: 0 auto;
                    margin-top: 20px;
                }
            }
            @include SCREEN_1366{
                font-size: 24px;
            }
            @include SCREEN_1280{
                font-size: 22px;
            }
            @include SCREEN_1024{
                font-size: 22px;
            }
            @include SCREEN_736{
                margin-top: 50px;
                text-align: center;
            }
            >span{font-weight: bold;}
        }
        .discoveryDesignContentGroup{
            position: relative;
            .discoveryDesignContent{
                position: absolute;
                top: 90px;
                left: 0;
                width: 100%;
                @include SCREEN_1600{
                    top: 70px;
                }
                @include SCREEN_1366{
                    top: 50px;
                }
                >h1{
                    font-size: 30px;
                    color: #000;
                    font-weight: bold;
                    @include SCREEN_1600{
                        font-size: 26px;
                    }
                    @include SCREEN_1366{
                        font-size: 22px;
                    }
                    @media screen and (max-width: 1124px) {
                        font-size: 20px;
                    }
                }
                >p{
                    font-size: 20px;
                    color: #000;
                    line-height: 32px;
                    margin-top: 110px;
                    @include SCREEN_1600{
                        font-size: 18px;
                        line-height: 30px;
                        margin-top: 90px;
                    }
                    @include SCREEN_1366{
                        font-size: 16px;
                        line-height: 28px;
                        margin-top: 60px;
                    }
                    @media screen and (max-width: 1124px) {
                        font-size: 14px;
                        line-height: 26px;
                    }
                }
                .pic{
                    position: absolute;
                    top: -305px;
                    right: 172px;
                    @include SCREEN_1600{
                        top: -285px;
                        right: 50px;
                    }
                    @include SCREEN_1366{
                        top: -235px;
                        right: -120px;
                    }
                    @media screen and (max-width: 1124px) {
                        top: -102px;
                        right: -250px;
                    }
                    >img{
                        max-width: 100%;
                        @include SCREEN_1600{
                            max-width: 90%;
                        }
                        @include SCREEN_1366{
                            max-width: 75%;
                        }
                        @media screen and (max-width: 1124px) {
                            max-width: 60%;
                        }
                    }
                }
            }

            //discovery design fade animated
            .fade-enter-active,
            .fade-leave-active {
                transition: opacity 1s;
            }
            .fade-enter,
            .fade-leave-to {
                opacity: 0;
            }
        }
        .nextBtn,.prevBtn{
            width: 90px;
            height: 90px;
            //background-color: pink;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover >span{
                transform: translateX(-20%);
            }
            @include SCREEN_1600{
                width: 70px;
            }
            @include SCREEN_1366{
                width: 60px;
            }
            >span{
                display: block;
                width: 90px;
                height: 1px;
                background-color: #212121;
                transition: transform 0.3s;
                @include SCREEN_1600{
                    width: 70px;
                }
                @include SCREEN_1366{
                    width: 60px;
                }
                &::after{
                    content: "";
                    width: 30%;
                    max-width: 50px;
                    height: 1px;
                    background-color: #2a2a2a;
                    display: block;
                    transform-origin: 0% 50%;
                    transform: rotate(-45deg);
                }
            }
        }
        .nextBtn{
            transform: scale(-1, 1);
            position: absolute;
            top: 863px;
            right: 4%;
            @include SCREEN_1600{
                top: 767px;
                right: 3%;
            }
            @include SCREEN_1366{
                top: auto;
                bottom: 36px;
                right: 15px;
            }
            @media screen and (max-width: 1124px) {
                bottom: 0;
            }
        }
        .prevBtn{
            position: absolute;
            top: 863px;
            left: 5%;
            @include SCREEN_1600{
                top: 767px;
            }
            @include SCREEN_1366{
                top: auto;
                bottom: 36px;
                left: 15px;
            }
            @media screen and (max-width: 1124px) {
                bottom: 0;
            }
        }
    }
}

//choiceArea
.choiceArea{
    width: 100%;
    padding-top: 100px;
    background-color: #ededed;
    position: relative;
    overflow: hidden;
    .choiceContainer{
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        //background-color: pink;
        >h3{
            font-size: 26px;
            color: #010101;
            display: block;
            &::after{
                content: "";
                display: block;
                width: 50px;
                height: 1px;
                background-color: #010101;
                margin-top: 35px;
            }
            >span{font-weight: bold;}
        }
        .choiceContent{
            margin-top: 50px;
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            .choiceContentLeft{
                width: 50%;
                >div{
                    position: relative;
                    font-size: 0;
                    /*>ul{
                        overflow: hidden;
                        >li{
                            width: calc(50% - 7.5px);
                            float: left;
                            background-repeat: no-repeat;
                            //background-position: 100% 0%;
                            font-size: 0;
                            >img{
                                max-width: 100%;
                                visibility: hidden;
                            }
                            &:nth-child(1){
                                margin: 0 7.5px 7.5px 0;
                            }
                            &:nth-child(2){
                                margin: 0 0 7.5px 7.5px;
                            }
                            &:nth-child(3){
                                margin: 7.5px 7.5px 0 0;
                            }
                            &:nth-child(4){
                                margin: 7.5px 0 0 7.5px;
                            }
                        }
                    }*/
                    >ul{
                        overflow: hidden;
                        position: relative;
                        z-index: 1;
                        >li{
                            width: calc(50% - 15px);
                            float: left;
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: 50%;
                            font-size: 0;
                            margin: 7.5px;
                            >img{
                                max-width: 100%;
                                visibility: hidden;
                            }
                        }
                    }
                }
            }
            .choiceContentRight{
                width: 50%;
                display: flex;
                justify-content: center;
                >div{
                    
                    >h2{
                        font-size: 30px;
                        color: #000;
                        font-weight: bold;
                    }
                    >p{
                        font-size: 20px;
                        color: #000;
                        line-height: 32px;
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    .yellowBg{
        width: 100%;
        height: 577px;
        background-color: #e0ddd7;
        position: absolute;
        top: 0;
    }
}