@import "../scss/common/_pagesTopCoverArea.scss";
//--- Wors main screen ---
.pagesTopCover{
    @include pagesTopCover;
    >div{
        height: 530px;
        @include SCREEN_1366{
            height: 500px;
        }
        @include SCREEN_1024{
            height: 470px;
        }
        @include SCREEN_900{
            height: 440px;
        }
        .classificationMenu{
            position: absolute;
            top: 220px;
            right: 100px;
            @include SCREEN_1366{
                top: 210px;
            }
            @include SCREEN_900{
                top: 190px;
            }
            >ul{
                >li{
                    text-align: right;
                    >a{
                        font-family: 'MyriadPro-Light';
                        font-weight: bold;
                        font-size: 22px;
                        color: #dedede;
                        line-height: 40px;
                        @include SCREEN_1366{
                            font-size: 20px;
                            line-height: 38px;
                        }
                        @include SCREEN_900{
                            font-size: 16px;
                            line-height: 34px;
                        }
                        &.active{
                            text-decoration: underline;
                            pointer-events: none;
                        }
                        &:hover{
                            color: #aaaaaa;
                        }
                    }
                }
            }
        }
    }
}

//--- works ---
.worksArea{
    width: 100%;
    position: relative;
    background-color: #ededed;
    .topGrey{
        position: absolute;
        top: 0;
        width: 100%;
        height: 150px;
        background-color: #444444;
    }
    .worksContent{
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        padding-top: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        //justify-content: space-around;
        
        
        >div{
            width: calc(50% - 30px);
            text-align: center;
            margin: 0 15px;
            margin-bottom: 100px;
            transition: opacity 0.5s;
            @include SCREEN_1280{
                margin-bottom: 80px;
            }
            @include SCREEN_1024{
                margin-bottom: 50px;
            }
            >a{
                display: inline-block;
                position: relative;
                font-size: 0;
                transition: box-shadow 0.3s, transform 0.3s;
                .picOpposite{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    transition: opacity 0.3s;
                }
                &:hover{
                    box-shadow: 4px 4px 4px rgba(20%,20%,40%,0.5);
                    transform: translate(-1px,-1px);
                }
                &:hover .picOpposite{
                    opacity: 0;
                }
                >img{
                    max-width: 100%;
                }
            }
        }
        .hideing{opacity: 0;}
        .showing{opacity: 1;}
    }
}

//--- pupPage ---
.pupPage{
    width: 100%;
    padding-top: 220px;
    background-color: #e5e5e5;
    @include SCREEN_1366{
        padding-top: 190px;
    }
    .page1{
        position: relative;
        padding-bottom: 120px;
        @include SCREEN_1366{
            padding-bottom: 90px;
        }
        >h1{
            font-size: 30px;
            color: #303030;
            text-align: center;
            display: block;
            text-align: center;
            @include SCREEN_1366{
                font-size: 26px;
            }
            &::after{
                content: "";
                width: 200px;
                height: 3px;
                background-color: #8c6359;
                display: block;
                margin: 0 auto;
                margin-top: 15px;
                @include SCREEN_1366{
                    width: 180px;
                    margin-top: 12px;
                }
            }
        }
        .backBtn{
            @include BackBtn;
            position: absolute;
            top: 20px;
            right: 50px;
            margin-top: 0px;
            @include SCREEN_1600{margin-top: 0px;}
            @include SCREEN_900{margin-top: 0px;}
        }
        .coverTopContainer{
            width: 100%;
            max-width: 1700px;
            margin: 0 auto;
            margin-top: 60px;
            // background-color: pink;
            position: relative;
            @media screen and (max-width: 1701px) {
                max-width: 1500px;
            }
            @media screen and (max-width: 1501px) {
                max-width: 1366px;
            }
            @include SCREEN_1366{
                max-width: 1024px;
            }
            .coverImg{
                width: 1090px;
                height: 706px;
                background-position: 50% 50%;
                background-size: cover;
                background-repeat: no-repeat;
                @media screen and (max-width: 1701px) {
                    width: 990px;
                    height: 641px;
                }
                @media screen and (max-width: 1501px) {
                    width: 890px;
                    height: 576px;
                }
                @include SCREEN_1366{
                    width: 790px;
                    height: 511px;
                }
            }
            .descriptionBox{
                width: 800px;
                height: 465px;
                background-color: rgba(#fff, 0.9);
                position: absolute;
                top: 120px;
                right: 0;
                padding: 55px 0 0 95px; 
                @media screen and (max-width: 1701px) {
                    width: 750px;
                    height: 425px;
                    top: 100px;
                    padding: 45px 0 0 85px;
                }
                @media screen and (max-width: 1501px) {
                    width: 700px;
                    height: 385px;
                    top: 80px;
                    padding: 35px 0 0 75px;
                }
                @include SCREEN_1366{
                    width: 500px;
                    height: 345px;
                    padding: 25px 0 0 45px;
                }
                >h2{
                    font-size: 32px;
                    color: #000;
                    margin-bottom: 25px;
                    @media screen and (max-width: 1701px) {
                        font-size: 30px;
                    }
                    @media screen and (max-width: 1501px) {
                        font-size: 28px;
                        margin-bottom: 20px;
                    }
                    @include SCREEN_1366{
                        font-size: 26px;
                    }
                }
                >p{
                    font-size: 20px;
                    color: #000;
                    line-height: 32px;
                    @media screen and (max-width: 1701px) {
                        font-size: 18px;
                        line-height: 30px;
                    }
                    @media screen and (max-width: 1501px) {
                        font-size: 16px;
                        line-height: 28px;
                    }
                    @include SCREEN_1366{
                        font-size: 14px;
                        line-height: 26px;
                    }
                }
            }
        }
        .introductionContent{
            margin-top: 85px;
            text-align: center;
            @include SCREEN_1600{
                margin-top: 70px;
            }
            @include SCREEN_1366{
                margin-top: 60px;
            }
            >div{
                width: auto;
                max-width: 80%;
                display: inline-block;
                >span{
                    display: block;
                    float: left;
                    width: 1px;
                    height: 100%;
                    min-height: 140px;
                    background-color: #000;
                    @include SCREEN_1600{
                        min-height: 130px;
                    }
                    @include SCREEN_1366{
                        min-height: 120px;
                    }
                }
                >p{
                    width: 100%;
                    font-size: 20px;
                    color: #000;
                    line-height: 32px;
                    text-align: left;
                    padding-left: 35px;
                    @include SCREEN_1600{
                        font-size: 18px;
                        line-height: 30px;
                        padding-left: 30px;
                    }
                    @include SCREEN_1366{
                        font-size: 16px;
                        line-height: 28px;
                        padding-left: 25px;
                    }
                }
            }
        }
    }
    .page3{
        width: 100%;
        
        .swiperContainer{
            width: 100%;
            max-width: 1920px;
            margin: 0 auto;
            overflow: hidden;
            .swiperContent{
                width: 1124px;
                height: 755px;
                float: left;
                font-size: 0;
                img{max-width: 100%;}
                @include SCREEN_1366{
                    width: 974px;
                    height: 654px;
                }
            }
            .swiperBtn{
                width: calc(50% - 562px);
                height: 755px;
                float: left;
                display: flex;
                align-items: center;
                @include SCREEN_1366{
                    width: calc(50% - 487px);
                    height: 654px;
                }
                >span{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 150px;
                    //background-color: #759;
                    cursor: pointer;
                    &:hover >span{
                        transform: translateX(45%);
                    }

                    position: static;
                    background-image: url('');
                    >span{
                        width: 100%;
                        transform: translateX(50%);
                        transition: transform 0.3s;
                        &::before{
                            content: "";
                            width: 30%;
                             max-width: 50px;
                            height: 1px;
                            background-color: #2a2a2a;
                            display: block;
                            transform-origin: 0% 50%;
                            border-radius: 2px;
                            transform: rotate(45deg);
                        }
                        &::after{
                            content: "";
                            width: 30%;
                            max-width: 50px;
                            height: 1px;
                            background-color: #2a2a2a;
                            display: block;
                            transform-origin: 0% 50%;
                            transform: rotate(-45deg);
                        }
                    }
                    
                }
            }
        }
        .swiperRightBtn{
            transform: scale(-1, 1);
        }

        .designConceptContent{
            clear: both;
            margin-top: 85px;
            text-align: center;
            @include SCREEN_1366{
                margin-top: 65px;
            }
            >div{
                width: auto;
                max-width: 80%;
                display: inline-block;
                >span{
                    display: block;
                    float: left;
                    width: 1px;
                    height: 100%;
                    min-height: 128px;
                    background-color: #000;
                    @include SCREEN_1366{
                        min-height: 118px;
                    }
                }
                >p{
                    width: 100%;
                    font-size: 20px;
                    color: #000;
                    line-height: 32px;
                    text-align: left;
                    padding-left: 35px;
                    @include SCREEN_1600{
                        font-size: 18px;
                        line-height: 30px;
                        padding-left: 30px;
                    }
                    @include SCREEN_1366{
                        font-size: 16px;
                        line-height: 28px;
                        padding-left: 25px;
                    }
                }
            }
        }
    }

    .page4{
        width: 100%;
        padding-top: 130px;
        overflow: hidden;
        .coverBottomContainer{
            position: relative;
            .coverBottomContent{
                display: flex;
                justify-content: center;
                .coverBottomPic{
                    position: relative;
                    z-index: 2;
                    //&:first-child{
                    //    margin-right: 1px;
                    //}
                    >img{
                        width: 100%;
                    }
                }
            }
            .endContent{
                width: 100%;
                height: 170px;
                text-align: center;
                position: relative;
                z-index: 2;
                padding-top: 65px;
                @include SCREEN_1366{
                    height: 100px;
                    padding-top: 35px;
                }
                >div{
                    text-align: center;
                    >p{
                        display: block;
                        font-size: 20px;
                        color: #fff;
                        @include SCREEN_1600{
                            font-size: 18px;
                        }
                        @include SCREEN_1366{
                            font-size: 16px;
                        }
                    }
                }
            }
            .bg{
                width: 100%;
                height: 452px;
                position: absolute;
                bottom: 0;
                background-image: url("~Works/99_workPopup_bottomBg.jpg");
                background-position: 50% 100%;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 1;
                @include SCREEN_1366{
                    height: 382px;
                }
            }
        }
        .backBtn{
            @include BackBtn;
            margin-top: 60px;
            margin-bottom: 160px;
            @include SCREEN_1600{margin-top: 50px;margin-bottom: 130px;}
            @include SCREEN_900{margin-top: 30px;margin-bottom: 100px;}
            
        }
    }

    .topBtn{
        width: 85px;
        height: 85px;
        background-color: #6c6c6c;
        color: #fff;
        font-size: 20px;
        text-align: center;
        line-height: 85px;
        border-radius: 42.5px;
        cursor: pointer;
        position: fixed;
        right: 20px;
        bottom: 50px;
        z-index: 3;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
        &.topBtnShow{
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.swiper-slide{
    text-align: center;
}