@import "../scss/common/_pagesTopCoverArea.scss";
//--- Wors main screen ---
.pagesTopCover{
    @include pagesTopCover;
    >div{
        height: 530px;
        @include SCREEN_1366{
            height: 500px;
        }
        @include SCREEN_1024{
            height: 470px;
        }
        @include SCREEN_900{
            height: 440px;
        }
        @include SCREEN_736{
            height: auto;
        }
        .classificationMenu{
            position: absolute;
            top: 220px;
            right: 100px;
            @include SCREEN_1366{
                top: 210px;
            }
            @include SCREEN_900{
                top: 190px;
            }
            @include SCREEN_736{
                position: static;
                text-align: center;
                margin-top: 30px;
            }
            >ul{
                @include SCREEN_736{
                    overflow: hidden;
                    display: inline-block;
                }
                >li{
                    text-align: right;
                    @include SCREEN_736{
                        text-align: center;
                        margin: 0 10px;
                        float: left;
                    }
                    >a{
                        font-family: 'MyriadPro-Bold';
                        //font-weight: bold;
                        font-size: 22px;
                        color: #dedede;
                        line-height: 40px;
                        @include SCREEN_1366{
                            font-size: 20px;
                            line-height: 38px;
                        }
                        @include SCREEN_900{
                            font-size: 16px;
                            line-height: 34px;
                        }
                        
                        &.active{
                            text-decoration: underline;
                            pointer-events: none;
                        }
                        &:hover{
                            color: #aaaaaa;
                        }
                    }
                }
            }
        }
    }
}

//--- works ---
.worksArea{
    width: 100%;
    min-height: 400px;
    position: relative;
    background-color: #ededed;
    .topGrey{
        position: absolute;
        top: 0;
        width: 100%;
        height: 150px;
        background-color: #444444;
    }
    .worksContent{
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding-top: 20px;
        
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        //justify-content: space-around;
        
        >div{
            width: calc(50% - 30px);
            text-align: center;
            margin: 0 15px;
            margin-bottom: 100px;
            //transition: opacity 0.5s;
            @include SCREEN_1280{
                margin-bottom: 80px;
            }
            @include SCREEN_1024{
                margin-bottom: 50px;
            }
            @include SCREEN_736{
                width: 100%;
                margin: 0 50px;
                margin-bottom: 40px;
            }
            &.long{
                @include SCREEN_736{
                    margin: 0 90px;
                    margin-bottom: 40px;
                }
            }
            >a{
                display: inline-block;
                position: relative;
                font-size: 0;
                transition: box-shadow 0.3s, transform 0.3s;
                @include SCREEN_736{
                    width: 100%;
                }
                .picOpposite{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    transition: opacity 0.3s;
                    filter: grayscale(100%);
                    filter: gray;
                }
                &:hover{
                    box-shadow: 4px 4px 4px rgba(20%,20%,40%,0.5);
                    transform: translate(-1px,-1px);
                }
                &:hover .picOpposite{
                    opacity: 0;
                }
                >img{
                    max-width: 100%;
                    @include SCREEN_736{
                        width: 100%;
                    }
                }
            }
        }
        .hideing{opacity: 0;}
        //.showing{opacity: 1;}
    }
}

//--- pupPage ---
.pupPage{
    width: 100%;
    padding-top: 220px;
    background-color: #e5e5e5;
    @include SCREEN_1366{
        padding-top: 190px;
    }
    @include SCREEN_736{
        padding-top: 110px;
    }
    .page1{
        position: relative;
        padding-bottom: 120px;
        @include SCREEN_1366{
            padding-bottom: 90px;
        }
        @include SCREEN_736{
            padding-bottom: 0px;
        }
        >h1{
            font-size: 30px;
            color: #303030;
            text-align: center;
            display: block;
            text-align: center;
            letter-spacing: 0.1em;
            @include SCREEN_1366{
                font-size: 26px;
            }
            @include SCREEN_1024{
                font-size: 22px;
            }
            @include SCREEN_736{
                font-size: 20px;
            }
            &::after{
                content: "";
                width: 200px;
                height: 2px;
                background-color: #8c6359;
                display: block;
                margin: 0 auto;
                margin-top: 15px;
                @include SCREEN_1366{
                    width: 180px;
                    margin-top: 12px;
                }
                @include SCREEN_736{
                    width: 150px;
                    margin-top: 10px;
                }
            }
        }
        >h2{
            font-size: 24px;
            color: #303030;
            text-align: center;
            display: block;
            text-align: center;
            margin-top: 18px;
            @include SCREEN_1366{
                font-size: 20px;
            }
            @include SCREEN_1024{
                font-size: 16px;
            }
            @include SCREEN_736{
                margin-top: 15px;
            }
        }
        .backBtn{
            @include BackBtn;
            position: absolute;
            top: 20px;
            right: 50px;
            margin-top: 0px;
            @include SCREEN_1600{
                margin-top: 0px;
                right: 30px;
            }
            @include SCREEN_1366{
                right: 0px;
                margin-right: 20px;
            }
            @include SCREEN_900{
                margin-top: 0px;
            }
            @include SCREEN_736{
                margin-top: -80px;
            }
        }
        
        .coverTopContainer{
            width: 100%;
            max-width: 1700px;
            margin: 0 auto;
            margin-top: 45px;
            // background-color: pink;
            position: relative;
            @media screen and (max-width: 1701px) {
                max-width: 1500px;
            }
            @media screen and (max-width: 1501px) {
                max-width: 1366px;
            }
            @include SCREEN_1366{
                max-width: 1024px;
            }
            @include SCREEN_736{
                margin-top: 30px;
                overflow: hidden;
            }
            .coverImg{
                width: 1090px;
                height: 706px;
                background-position: 50% 50%;
                background-size: contain;
                background-repeat: no-repeat;
                @media screen and (max-width: 1701px) {
                    width: 990px;
                    height: 641px;
                }
                @media screen and (max-width: 1501px) {
                    width: 890px;
                    height: 576px;
                }
                @include SCREEN_1366{
                    width: 790px;
                    height: 511px;
                }
                @include SCREEN_1024{
                    width: 690px;
                    height: 446px;
                }
                @include SCREEN_736{
                    width: 100%;
                    height: auto;
                    background-size: contain;
                    padding: 0 10px;
                    margin-bottom: 10px;
                }
                >img{
                    max-width: 100%;
                    visibility: hidden;
                }
            }
            .descriptionBox{
                width: 800px;
                height: auto;
                background-color: rgba(#fff, 0.9);
                position: absolute;
                top: 120px;
                right: 0;
                padding: 55px 20px 55px 95px; 
                @media screen and (max-width: 1701px) {
                    width: 750px;
                    padding: 45px 20px 45px 85px;
                }
                @media screen and (max-width: 1501px) {
                    width: 700px;
                    padding: 35px 20px 35px 75px;
                }
                @include SCREEN_1366{
                    width: 500px;
                    padding: 25px 20px 25px 45px;
                }
                @include SCREEN_1024{
                    width: 450px;
                    padding: 20px 20px 20px 35px;
                }
                @include SCREEN_736{
                    width: 100%;
                    background-color: #ffffff;
                    position: static;
                    padding: 40px;
                    padding-bottom: 50px;
                }
                >h2{
                    font-size: 32px;
                    color: #000;
                    margin-bottom: 25px;
                    @media screen and (max-width: 1701px) {
                        font-size: 30px;
                    }
                    @media screen and (max-width: 1501px) {
                        font-size: 28px;
                        margin-bottom: 20px;
                    }
                    @include SCREEN_1366{
                        font-size: 26px;
                    }
                    @include SCREEN_1024{
                        font-size: 24px;
                        margin-bottom: 15px;
                    }
                    @include SCREEN_736{
                        font-size: $contentText;
                        font-weight: bold;
                    }
                }
                >p{
                    font-size: 20px;
                    color: #000;
                    line-height: 32px;
                    @media screen and (max-width: 1701px) {
                        font-size: 18px;
                        line-height: 30px;
                    }
                    @media screen and (max-width: 1501px) {
                        font-size: 16px;
                        line-height: 28px;
                    }
                    @include SCREEN_1366{
                        font-size: 14px;
                        line-height: 26px;
                    }
                    @include SCREEN_1024{
                        font-size: 12px;
                        line-height: 24px;
                        text-align: justify;
                    }
                    @include SCREEN_736{
                        font-size: $generalText;
                        line-height: $generalTextLineHeight;
                    }
                }
            }
        }
        /deep/ .introductionContent{
            margin-top: 85px;
            text-align: center;
            @include SCREEN_1600{
                margin-top: 70px;
            }
            @include SCREEN_1366{
                margin-top: 60px;
            }
            >div{
                width: auto;
                max-width: 80%;
                display: inline-block;
                >p{
                    width: 100%;
                    font-size: 20px;
                    color: #000;
                    line-height: 32px;
                    text-align: left;
                    padding-left: 35px;
                    position: relative;
                    @include SCREEN_1600{
                        font-size: 18px;
                        line-height: 30px;
                        padding-left: 30px;
                    }
                    @include SCREEN_1366{
                        font-size: 16px;
                        line-height: 28px;
                        padding-left: 25px;
                    }
                    @include SCREEN_1024{
                        font-size: 14px;
                        line-height: 24px;
                    }
                    span.worksPopDescriptionLine{
                        width: 1px;
                        height: 100%;
                        max-height: 160px;
                        background-color: #000;
                        position: absolute;
                        top: 0;
                        left: 0;
                        @include SCREEN_1600{
                            min-height: 150px;
                        }
                        @include SCREEN_1366{
                            min-height: 130px;
                        }
                        @include SCREEN_1024{
                            min-height: 110px;
                        }
                    }
                }
            }
        }
    }
    /deep/ .page3{
        width: 100%;
        
        .swiperContainer{
            width: 100%;
            max-width: 1920px;
            margin: 0 auto;
            overflow: hidden;
            @include SCREEN_736{
                background-color: #fff;
            }
            .swiperContent{
                width: 1124px;
                height: 755px;
                float: left;
                font-size: 0;
                position: relative;
                img{max-width: 100%;}
                .pic{
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: contain;
                }
                .swiper-container{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                @include SCREEN_1366{
                    width: 974px;
                    height: 654px;
                }
                @include SCREEN_1280{
                    width: 761px;
                    height: 553px;
                }
                @include SCREEN_736{
                    width: 100%;
                    height: auto;
                    padding: 0 10px;
                }
            }
            .swiperBtn{
                width: calc(50% - 562px);
                height: 755px;
                float: left;
                display: flex;
                align-items: center;
                @include SCREEN_1366{
                    width: calc(50% - 487px);
                    height: 654px;
                }
                @include SCREEN_1280{
                    width: calc(50% - 380.5px);
                    height: 553px;
                }
                >span{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 150px;
                    //background-color: #759;
                    outline: none;
                    cursor: pointer;
                    &:hover >span{
                        transform: translateX(45%);
                    }

                    position: static;
                    background-image: url('');
                    >span{
                        width: 65%;
                        transform: translateX(50%);
                        transition: transform 0.3s;
                        &::before{
                            content: "";
                            width: 100%;
                            max-width: 50px;
                            height: 1px;
                            background-color: #2a2a2a;
                            display: block;
                            transform-origin: 0% 50%;
                            border-radius: 2px;
                            transform: rotate(45deg);
                        }
                        &::after{
                            content: "";
                            width: 100%;
                            max-width: 50px;
                            height: 1px;
                            background-color: #2a2a2a;
                            display: block;
                            transform-origin: 0% 50%;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
            .mobileBg{
                width: 100%;
                padding-top: 32%;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: #e5e5e5;
            }
        }
        .swiperRightBtn{
            transform: scale(-1, 1);
        }
        .swiper-pagination{
            display: none;
            @include SCREEN_736{
                display: block;
                position: static;
                margin-top: 10px;
                margin-bottom: 60px;
            }
        }
        .swiper-pagination-bullet{
            font-size: 0;
            margin: 0 4px;
            background: #5e5e5e;
            opacity: 0.5;
        }
        .swiper-pagination-bullet-active{
            opacity: 1;
        }
        /deep/ .designConceptContent{
            clear: both;
            margin-top: 85px;
            text-align: center;
            @include SCREEN_1366{
                margin-top: 65px;
            }
            >div{
                width: auto;
                max-width: 80%;
                display: inline-block;
                >p{
                    width: 100%;
                    font-size: 20px;
                    color: #000;
                    line-height: 32px;
                    text-align: left;
                    padding-left: 35px;
                    position: relative;
                    @include SCREEN_1600{
                        font-size: 18px;
                        line-height: 30px;
                        padding-left: 30px;
                    }
                    @include SCREEN_1366{
                        font-size: 16px;
                        line-height: 28px;
                        padding-left: 25px;
                    }
                    @include SCREEN_1024{
                        font-size: 14px;
                        line-height: 24px;
                    }
                    span.worksPopDescriptionLine2{
                        width: 1px;
                        height: 100%;
                        max-height: 112px;
                        background-color: #000;
                        position: absolute;
                        top: 0;
                        left: 0;
                        @include SCREEN_1366{
                            max-height: 112px;
                        }
                    }
                }
            }
        }
    }

    .page4{
        width: 100%;
        padding-top: 130px;
        overflow: hidden;
        @include SCREEN_736{
            padding-top: 0px;
        }
        .coverBottomContainer{
            position: relative;
            .coverBottomContent{
                display: flex;
                justify-content: center;
                @include SCREEN_736{
                    padding: 0 10px;
                }
                .coverBottomPic{
                    font-size: 0;
                    position: relative;
                    z-index: 2;
                    //&:first-child{
                    //    margin-right: 1px;
                    //}
                    >img{
                        width: 100%;
                    }
                }
            }
            .endContent{
                width: 100%;
                height: 170px;
                text-align: center;
                position: relative;
                z-index: 2;
                padding-top: 65px;
                @include SCREEN_1366{
                    height: 100px;
                    padding-top: 35px;
                }
                @include SCREEN_736{
                    height: auto;
                    padding: 40px 0;
                }
                >div{
                    text-align: center;
                    >p{
                        display: block;
                        font-size: 20px;
                        color: #fff;
                        @include SCREEN_1600{
                            font-size: 18px;
                        }
                        @include SCREEN_1366{
                            font-size: 16px;
                        }
                        @include SCREEN_736{
                            font-size: $generalText;
                            line-height: $generalTextLineHeight;
                        }
                    }
                }
            }
            .bg{
                width: 100%;
                height: 452px;
                position: absolute;
                bottom: 0;
                background-image: url("~Works/99_workPopup_bottomBg.png");
                background-position: 50% 100%;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 1;
                @include SCREEN_1366{
                    height: 382px;
                }
                @include SCREEN_736{
                    height: 160px;
                    background-image: url("");
                    background-color: #444444;
                }
            }
        }
        .backBtn{
            @include BackBtn;
            margin-top: 60px;
            margin-bottom: 160px;
            @include SCREEN_1600{
                margin-top: 50px;
                margin-bottom: 130px;
                right: 30px;
            }
            @include SCREEN_1366{
                right: 0px;
                margin-right: 20px;
            }
            @include SCREEN_900{
                margin-top: 30px;
                margin-bottom: 100px;
            }
            
        }
    }

    .page5{
        width: 100%;
        background-color: #444;
        .page5Container{
            width: 80%;
            height: 150px;
            margin: 0 auto;
            border-top: 1px solid #dbdbdb;
            >ul{
                overflow: hidden;
                >li{
                    >a{
                        font-size: 16px;
                        font-weight: bold;
                        color: #fff;
                    }
                    padding: 20px 0;
                    &:first-child{
                        float: left;
                        &::after{
                            content: "";
                            display: block;
                            width: 8px;
                            height: 8px;
                            background-color: #fff;
                            border-radius: 4px;
                            float: left;
                            margin-top: 7px;
                            margin-right: 10px;
                        }
                    }
                    &:last-child{
                        float: right;
                        &::before{
                            content: "";
                            display: block;
                            width: 8px;
                            height: 8px;
                            background-color: #fff;
                            border-radius: 4px;
                            float: right;
                            margin-top: 7px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    .topBtn{
        width: 85px;
        height: 85px;
        background-color: #6c6c6c;
        color: #fff;
        font-size: 20px;
        text-align: center;
        line-height: 85px;
        border-radius: 42.5px;
        cursor: pointer;
        position: fixed;
        right: 20px;
        bottom: 50px;
        z-index: 3;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
        &.topBtnShow{
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.swiper-slide{
    text-align: center;
}